<form action="/register" method="POST" class="mb-5">

  <label for="username">name</label>
  <input type="text" name="username" autofocus>
  <label for="password">password</label>
  <input type="password" id="password" name="password">
  <button type="submit">sign up</button>

</form>