<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HiddenArcade</title>
</head>
<body>
  <h1>HiddenArcade</h1>
  <form action="/register" method="POST">

    <label for="username">name</label>
    <input type="text" id="username" name="username" autofocus>
    <label for="password">password</label>
    <input type="password" id="password" name="password">
    <button type="submit">sign up</button>
  
  </form>
</body>
</html>